<div class="border border-gray-300 border-solid p-6 py-8 rounded bg-white">
  <h5 class="text-2xl font-semibold mb-6 text-center w-full fhd:hidden">
    Task Management System
  </h5>
  <h5 class="text-xl font-semibold my-4">Register</h5>
  <div class="flex flex-col items-center justify-center gap-4">
    <div *ngIf="error" class="text-red">{{ error }}</div>
    <div class="w-full">
      @if (successMsg) {
        <div v-if="successMsg" class="text-base font-normal">
          {{ successMsg }}
        </div>
      } @else {
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="flex flex-col gap-6"
        >
          <div>
            <cds-text-label
              [invalid]="
                submitted && registerForm.get('username')?.errors ? true : false
              "
              [invalidText]="getErrors('username')"
              [skeleton]="loading"
            >
              Username
              <input
                cdsText
                formControlName="username"
                [invalid]="
                  submitted && registerForm.get('username')?.errors
                    ? true
                    : false
                "
              />
            </cds-text-label>
          </div>
          <div>
            <cds-password-label
              [invalid]="
                submitted && registerForm.get('password')?.errors ? true : false
              "
              [invalidText]="getErrors('password')"
              [skeleton]="loading"
            >
              Password
              <input
                cdsPassword
                type="password"
                formControlName="password"
                [invalid]="
                  submitted && registerForm.get('password')?.errors
                    ? true
                    : false
                "
              />
            </cds-password-label>
          </div>
          <div>
            <cds-radio-group
              [invalid]="
                submitted && registerForm.get('role')?.errors ? true : false
              "
              [invalidText]="getErrors('role')"
              [legend]="'Role'"
              formControlName="role"
              ariaLabel="radiogroup"
            >
              @for (role of roles; track role) {
                <cds-radio [value]="role">{{ capitalizeText(role) }}</cds-radio>
              }
            </cds-radio-group>
          </div>
          <div>
            <button [cdsButton]="'primary'" [size]="'md'" type="submit">
              Register
            </button>
          </div>
        </form>
        <div class="my-2">
          <a cdsLink [href]="'/login'" class="font-normal"
            >Existing user? Login!</a
          >
        </div>
      }
    </div>
  </div>
</div>
