<section class="text-base p-10">
  This is a POC on Task management. The idea is to build a simple task
  management application that helps users organize their tasks and get things
  done. The application will allow users to create tasks, set due dates, and
  track their progress. The application will be designed to help users stay
  organized and focused on what matters most. The application will be built
  using Angular and CDS Web Components. The application will have the following
  features:
  <ul class="list-disc pl-10">
    <li>Users can create tasks</li>
    <li>Users can set due dates for tasks</li>
    <li>Users can track their progress on tasks</li>
    <li>Users can mark tasks as completed</li>
    <li>Users can delete tasks</li>
  </ul>
</section>
